
<div>
  <div>
    <h2><%= link_to article.title.titleize, article_path(article) %></h2>
  </div>
  <div>
    <% if article.keywords %>
      <span class="article-keywords"><%= article.keywords %></span>
    <% end %>
  </div>
</div>